/* Generic Styling */
div, header, footer {
    background-color:#fbeaff;
    color:#5e3a98;
}

div {
    border: 2px solid #00c9a9;
}
header {
    border-bottom: 2px solid#00c9a9;
}

footer {
    border-top: 2px solid#00c9a9;
}

/* Images */
.cat-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #00c9a9;
}