/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

/* Global Styling */
* {
    margin:0;
}

/* Generic Styling */
body {
    background-color: lightgray;
}

section, header, footer {
    background-color:#fbeaff;
    padding: 20px;
}

header, footer {
    margin: 0;
}

section {
    border: 2px solid #00c9a9;
    margin: 20px;
}

header {
    border-bottom: 2px solid#00c9a9;
}

footer {
    border-top: 2px solid#00c9a9;
}

h1, h2, legend, p, li, label {
    color: #5E3A98;
}

h1, h2, legend {
    font-family: "Montserrat", sans-serif;
}

p, li, label, fieldset {
    font-family: "Open Sans", sans-serif;
}

fieldset {
    border: 2px solid #00c9a9;
    background-color:#fbeaff;
    margin-left: 20px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

button {
    background-color:#5E3A98;
    color:#fbeaff;
    border: 5px outset;
    padding: 20px 60px;
}

/* Our Cats */
.cat-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flip-cat {
    flex-direction: row-reverse;
}

.cat-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #00c9a9;
}

.cat-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cat-bio {
    border: 2px solid #00c9a9;
    padding: 20px;
    background-color: #fbeaff;
    max-width: 70%;
}

/* Nav bar and footer links styling */
.bar-link {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

/* Font Awesome icons */
.fa-paw {
    color:#00c9a9
}

.fa-brands {
    color:#00c9a9;
}