/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

/* Global Styling */
* {
    margin:0;
}

/* Generic Styling */
body {
    background-color: lightgray;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

main {
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 40px;
}

section, header, footer {
    background-color:#fbeaff;
    padding: 20px;
}

header, footer {
    margin: 0;
}

section {
    border: 2px solid #00c9a9;
    margin: 20px;
}

header {
    text-align: center;
    position: absolute;
    top: 0;
    border-bottom: 2px solid#00c9a9;
    width: 100%;
}

footer {
    border-top: 2px solid#00c9a9;
    width: 100%;
    height: 2.5rem;
}

h1, h2, legend, p, li, label {
    color: #5E3A98;
}

h1, h2, legend {
    font-family: "Montserrat", sans-serif;
}

h2 {
    text-align: center;
}

p, li, label, fieldset {
    font-family: "Open Sans", sans-serif;
}

fieldset {
    border: 2px solid #00c9a9;
    background-color:#fbeaff;
    margin-left: 20px;
    margin-right: 20px;
    color:#5E3A98;
}

h2 > fieldset {
    text-align:left
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    background-color:#5E3A98;
    color:#fbeaff;
    border: 5px outset;
    padding: 20px 60px;
    margin-left: 20px;
}

/* Home */
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.home-box {
    width: 42.5%;
}

menu {
    text-align: center;
}

.extra-pad {
    padding-bottom: 30px;
}

.map {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

/* Our Cats */
.cat-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flip-cat {
    flex-direction: row-reverse;
}

.cat-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #00c9a9;
}

.cat-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.cat-bio {
    border: 2px solid #00c9a9;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 20px;
    background-color: #fbeaff;
    width: 70%;
    max-height: 300px;
    justify-content: center;
}

.flip-bio {
    margin-right:0px;
    margin-left: 20px;
}

/* Prize Draw */
.form-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Nav bar and footer links */
.bar-link {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

/* Font Awesome icons */
.fa-paw {
    color:#00c9a9;
}

.fa-brands {
    color:#00c9a9;
}

.mail-icon {
    color:#00c9a9;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* Screen Reader text */
.screen-read {
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Media Queries */
@media screen and (max-width: 1120px) {
    .columns {
        flex-direction: column;
    }
    .cat-align {
        flex-direction: column;
    }
    .flip-cat {
        flex-direction: column;
    }
    .form-rows {
        flex-direction: column;
    }
}